@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap);
body,
p {
	font-family: 'Nunito', sans-serif;
	position: relative
}

::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-button {
            background-color: #666;
        }

        ::-webkit-scrollbar-track {
            background-color: #999;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: #ffffff;
        }

        ::-webkit-scrollbar-thumb {
            height: 5px;
            background-color: #666;
            border-radius: 3px;
        }

        ::-webkit-scrollbar-corner {
            background-color: #999;
        }

        ::-webkit-resizer {
            background-color: #666;
        }

label {
  font-weight: 500;
}

/*---------* New css Start----------*/
.loader,
.loader-container,
.preloader {
	left: 0;
	top: 0;
	width: 100%
}


.loader {
	position: fixed;
	height: 100%;
	z-index: 999999;
	
}

.loader-container {
	height: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center
}

.preloader {
	position: fixed;
	height: 100%;
	z-index: 999999;
	background-color: #178FE5;
	background-position: center center;
	background-repeat: no-repeat
}
.login-form-mainsec {
  padding-bottom: 65px;
  padding-top: 15px;
}
.top-header {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 10px 0;
}
.topheader-social li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 15px;
}
.topheader-social > ul {
    margin-bottom: 0;
}
.topheader-social i {
    border: 1px solid #178fe5;
    border-radius: 30px;
    color: #178fe5;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.logodv {
    text-align: center;
}
.logo-section {
    padding: 10px 0;
}
.login-detaildv {
    background: #178fe5 none repeat scroll 0 0;
}
.profile-logindv {
  float: right;
  padding: 10px 0;
}
.profile-logindv li {
    display: inline-block;
    margin-right: 15px;
}
.profile-logindv li:last-child {
    margin-right: 0;
}
.profile-logindv > ul {
    margin: 0;
    padding: 0;
}
.profile-logindv .btn-senditem {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50px;
    color: #178fe5;
    padding: 6px 15px;
}
.profile-logindv a:hover {
  text-decoration: none;
}
.profile-logindv img {
    border: 2px solid #ffffff;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    width: 40px;
}
.profile-logindv span {
    border: 1px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    padding: 6px 15px;
}
.custom-checkbox input[type=checkbox] {
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9
}

.custom-checkbox label:before {
	width: 18px;
	height: 18px;
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	background: #fff;
	border: 1px solid #c3cbd5;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 2
}

.custom-checkbox input[type=checkbox]:checked+label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 2px;
	width: 6px;
	height: 11px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg)
}

.ms-check .custom-checkbox input[type=checkbox]:checked+label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 2px;
	width: 6px;
	height: 11px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg)
}

.ms-check label{font-size: 14px;}

.custom-checkbox input[type=checkbox]:checked+label:before {
	border-color: #0098D7;
	background: #0098D7
}

.custom-checkbox input[type=checkbox]:checked+label:after {
	border-color: #fff
}

.custom-checkbox input[type=checkbox]:disabled+label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd
}

.loginform-dv {
	background: #ffffff none repeat scroll 0 0;
	border: 5px solid #ececec;
	border-radius: 6px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.loginform-dv .form.ms-account-box {
    padding-left: 15px;
    padding-right: 15px;
}
.login-reg-heading {
    background: #178fe5 none repeat scroll 0 0;
    padding: 15px 0;
    text-align: center;
}
.login-reg-heading > p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}
.login-reg-heading img {
    margin-right: 5px;
}
.log-title > span {
  color: #178fe5;
  text-transform: uppercase;
}

.log-title {
    border-bottom: 1px solid #e8e8e8;
    font-size: 24px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.loginform-dv .form-group .req-star {
  color: #178fe5;
}

.ms-account-box .form-control {
    border-radius: 4px;
}

.loginbtn {
    background: #1f86d1 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 18px;
    text-align: center;
    width: 100%;
}
.loginbtn:hover {
	background: #1070B5;
    color: #ffffff;
}
.register-confirmationdv span {
  text-transform: capitalize;
}

.register-confirmationdv .log-title {
    margin-bottom: 10px;
}
.register-confirmationdv .form {
    padding-bottom: 30px;
}

.login-btndv {
    margin-bottom: 30px;
    margin-top: 10px;
}
.form-control {
  background: #fbfdff none repeat scroll 0 0;
  border: 1px solid #dde6ef;
  border-radius: 0;
  box-shadow: none;
  color: #6b7c8a;
  font-size: 14px;
  font-weight: 500;
  height: 44px;
  margin-bottom: 10px;
}
.or {
    background: #ffffff none repeat scroll 0 0;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 40px;
}
.notregister-p {
    margin-top: 35px;
}
.notregister-p > a {
    color: #178fe5;
}
.forgetpsw > a {
  color: #178fe5;
}
.Customer-supportmainsec {
  background: #178fe5 none repeat scroll 0 0;
  padding-bottom: 20px;
  padding-top: 20px;
}
.customer-supportbg {
    background: #0c73bc none repeat scroll 0 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.customer-supportdv > span {
    color: #ffffff;
    display: block;
}
.customer-supportdv > a {
    color: #00cbff;
    font-size: 24px;
    font-weight: bold;
}
.customer-callnowbtn > a {
    background: #03abf6 none repeat scroll 0 0;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 30px;
    text-transform: uppercase;
}
.customer-callnowbtn img {
    margin-left: 5px;
}

.customer-callnowbtn {
    margin-top: 15px;
    text-align: right;
}
.footer-navigation > a {
    color: #ffffff;
}
.footer-navigation {
    color: #ffffff;
}
.copyright-sec > p {
    color: #79c6fe;
}
.copyright-sec {
    text-align: right;
}
.copyright-sec a {
    color: #79c6fe;
}
footer {
    background: #0c73bc none repeat scroll 0 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer-about > img {
    margin-bottom: 15px;
}
.footer-about > p {
    color: #ffffff;
}

.footer-adres > span {
    color: #79c6fe;
    display: block;
    margin-bottom: 5px;
}
.footer-phone > span {
    color: #79c6fe;
    display: block;
    margin-bottom: 5px;
}
.foote-email > span {
    color: #79c6fe;
    display: block;
    margin-bottom: 5px;
}
.footer-adres {
    margin-bottom: 10px;
    text-align: left;
}
.footer-phone {
    color: #79c6fe;
    margin-bottom: 10px;
    text-align: left;
}
.foote-email {
    color: #79c6fe;
    margin-bottom: 10px;
    text-align: left;
}
.footer-adres > p {
    color: #79c6fe;
}
.footer-phone > a {
    color: #79c6fe;
}
.foote-email > a {
    color: #79c6fe;
}

.footer-socialsec {
    text-align: center;
}
.footer-socialsec .getintouch {
    background: #178fe5 none repeat scroll 0 0;
    border-radius: 4px;
    color: #79c6fe;
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 12px 0;
    width: 100%;
}
.footer-socialsec li i {
    color: #00a8ff;
}
.footer-socialsec li {
    background: #0b64a4 none repeat scroll 0 0;
    border: 1px solid #00a8ff;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    list-style: outside none none;
    margin-right: 15px;
    width: 30px;
}
.registerpg-radio .radio-button {
  cursor: pointer;
  padding-right: 25px;
}
.registerpg-radio input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.registerpg-radio input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.registerpg-radio .radio-button__input {
    opacity: 0;
    position: absolute;
}

.registerpg-radio .radio-button__control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
    border-radius: 24px;
}

.registerpg-radio .radio-button__input:checked+.radio-button__control:after {
    background-color: #178fe5;
    border-radius: 12px;
    content: "";
    display: block;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 8px;
}
.registerpg-radio .radio-button__label {
  vertical-align: middle;
}
.registerpg-radio .radio-button__input:checked+.radio-button__control {
    border-color: #178FE5;
}
.page-title {
    background: center #f2f4f7;
    height: 200px;
    background-size: cover
}

.page-title-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image-title h2 {
  font-size: 22px;
  color: #fff;
}
.page-title, body, p {
  position: relative;
}
.page-title-wrap span {
  color: #ffb300;
}
.location-form-mainsec {
  padding-bottom: 30px;
  padding-top: 15px;
}
.locaion-formdv .icon-sec {
  position: relative;
}
/*.locaion-formdv .icon-sec i {
    color: #5b5b5b;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 15px;
    top: 33px;
}*/
.bootstrap-timepicker .input-group-addon i {
  font-size: 24px;
}
.glyphicon {
  right: 3px;
}
.location-next-btndv a {
    background: #178fe5 none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
}
.location-next-btndv {
    margin-top: 30px;
}
.location-next-btndv a:hover{
    background: #1283D4;
    color: #fff;
}
.locaion-formdv h3 {
    color: #178fe5;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.package-weightsec {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.rado-secdv > label {
    color: #383f4d;
    margin-left: 6px;
    vertical-align: middle;
}
.rado-secdv span {
    color: #178fe5;
    font-weight: 600;
    margin-left: 3px;
}
.rado-secdv {
  margin-bottom: 5px;
}

.addanother-item a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #0b64a4;
    border-radius: 0;
    color: #0b64a4;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
}
.addanother-item i {
    margin-right: 15px;
}
.addanother-item a:hover {
    background: #0b64a4;
    color: #fff;
}
.location-back-btndv {
  margin-top: 30px;
}
.location-back-btndv a {
    background: transparent;
    border-radius: 50px;
    color: #178fe5;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #178fe5;
}
.location-back-btndv a:hover{
    background: #178fe5;
    color: #fff;
}
.checkout-ul {
    margin: 0 0 15px;
    padding: 0;
}
.checkout-ul > li {
    border-bottom: 1px solid #e9e9e9;
    list-style: outside none none;
    margin-bottom: 3px;
    padding-bottom: 7px;
}

.checkout-ul h5 {
    color: #383f4d;
    font-weight: bold;
    margin-bottom: 3px;
}

.item-productshow > ul {
    margin: 0;
    padding: 0;
}
.item-productshow li {
    background: #f6f6f6 none repeat scroll 0 0;
    border-radius: 5px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 15px;
}
.item-pricesec > span {
    background: #dbdbdb none repeat scroll 0 0;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 95px;
}
.item-pricesec .item-bg-blue {
  background: #178fe5 none repeat scroll 0 0;
  color: #ffffff;
  font-weight: 600;
}

.item-editdel p i {
    background: #5ac79b none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.item-editdel > p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    vertical-align: middle;
}
.item-editdel {
    padding-top: 6px;
    vertical-align: middle;
}
.item-editdel .item-delete i {
    background: #f57272 none repeat scroll 0 0;
}

.item-weightsec > h5 {
    font-weight: bold;
    margin-bottom: 2px;
}
.item-weightsec {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 3px;
    padding-bottom: 5px;
}
.cancel-btn button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #F57272;
    border-radius: 0;
    color: #F57272;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 6px;
}
.cancel-btn button:hover {
    background: #F57272;
    color: #fff;
}
.cancel-btn {
  margin-bottom: 20px;
}

.payment-methodsec {
    border: 2px dashed #707070;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px 8px;
}
.payment-credicard h6 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.payment-credicard > p {
    color: #383f4d;
    font-size: 22px;
    margin-bottom: 0;
}
.payment-credicard p i {
    color: #178fe5;
    font-weight: normal;
}
.paytotal-secdv > h5 {
    color: #383f4d;
    font-weight: 600;
    margin-bottom: 3px;
}
.paytotal-secdv > p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.ynkit-staff-msg {
    background: #ededed none repeat scroll 0 0;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
}
.ynkit-staff-msg > p {
    color: #383f4d;
    font-weight: normal;
    margin: 0;
}

.succesfulplaceddv {
    margin-top: 30px;
    text-align: center;
}
.succesfulplaceddv > h2 {
    color: #09b531;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
}
.succesfulplaceddv > p {
    color: #383f4d;
    font-size: 14px;
}
.succesfulplaceddv a {
    color: #178fe5;
    font-weight: 600;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    background-color: #ffffff;
    border: 2px solid #178fe5;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #efefef;
}
.dropdown-content a:last-child {
  border: medium none;
}
.dropdown-content a:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

.header-shopingcard i {
    color: #ffffff;
    font-size: 22px;
}
.header-shopingcard {
    margin-left: 10px;
}
.header-shopingcard .shoping-notification {
    background: #ffffff none repeat scroll 0 0;
    color: #178fe5;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 15px;
    width: 20px;
}
.loginform-dv .resetnewpswt > span {
  text-transform: capitalize;
}

.myprofile > ul {
    padding: 0;
}
.myprofile li {
    border-bottom: 1px solid #e8e8e8;
    list-style: outside none none;
}
.myprofile li:last-child {
    border: medium none;
}

.myprofile .profile-name h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

.myorder-secdv .myorderul {
    padding: 0;
}
.myorder-secdv .myorderul > li {
    background: #f6f6f6 none repeat scroll 0 0;
    border-radius: 5px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 15px;
}

.myorderul h5 {
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 0;
}
.myorderul p {
    margin-bottom: 0;
}
.myorderul span {
  display: block;
}

.status-ul li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 10px;
    margin-bottom: 5px;
}
.status-ul {
    margin: 7px 0 0;
    padding: 0;
}
.status-ul .delivered {
    color: #5ac79b;
    font-weight: 600;
    text-transform: capitalize;
    background: #dafdef;
    padding: 0 5px 0 5px;
}
.status-ul .processing {
    color: #178fe5;
    font-weight: 600;
    text-transform: capitalize;
    background: #d8ecfb;
    padding: 0 5px 0 5px;
}
.status-ul .cancelled {
    color: #f57272;
    font-weight: 600;
    text-transform: capitalize;
    background: #fde9e9;
    padding: 0 5px 0 5px;
}
.order-status {
    margin-top: 10px;
}

.delivery-heading h3 {
    color: #178fe5;
    font-size: 22px;
    font-weight: 600;
}

.delivery-requestdv {
    margin-top: 15px;
    padding: 15px;
}
.pickup-date > h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.pickup-time > h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.pickup-time {
    text-align: right;
}

.dlvry-rqst-amout {
    text-align: right;
}

.total-weightsec > h2 {
    margin-top: 0;
}
.total-amountsec > h2 {
    margin-top: 0;
}

.delivery-accept-btn button {
    background: #178fe5 none repeat scroll 0 0;
    border: 1px solid #178fe5;
    color: #ffffff;
}
.delivery-accept-btn button:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #178fe5;
    color: #178fe5;
}
.profile-img-gs label {
  margin-bottom: 0;
  margin-top: -18px;
  text-align: center;
  width: 100%;
}
.profile-img-gs input[type="file"] {
  display: none;
}

.profile-img-gs > img {
    display: block;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    width: 110px;
}

.profile-img > img {
    height: 100px;
    width: 100px;
}

/*---------* New css End----------*/

.profile-traver-img > img {
  width: 100%;
}

.detail-travler > ul {
    padding: 0;
}
.detail-travler li {
    margin-bottom: 5px;
    padding: 0;
}
.detail-travler span {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
}

.travellisting-detailbtn {
    margin-top: 15px;
    text-align: right;
}
.travellisting-detailbtn > a {
    background: #178fe5 none repeat scroll 0 0;
    color: #ffffff;
    padding: 2px 15px;
}
